@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --Dark-Cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Cream);
}

img {
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-derecha {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 415px;
  background-color: var(--White);
  padding: 0 2rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.perfume {
  letter-spacing: 6px;
  color: var(--Dark-grayish-blue);
  text-transform: uppercase;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.titulo {
  font-weight: 700;
  margin-bottom: 1rem;
  padding-right: 3rem;
  font-family: "Fraunces", serif;
}

.parrafo {
  margin-bottom: 1rem;
  padding-right: 1rem;
  color: var(--Dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.precios {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.precio1 {
  font-size: 2.3rem;
  font-family: "Fraunces", serif;
  color: var(--Dark-Cyan);
}

.precio2 {
  color: var(--Dark-grayish-blue);
  font-family: "Fraunces", serif;
  font-size: smaller;
  text-decoration: line-through;
}

button {
  background-color: var(--Dark-Cyan);
  color: var(--White);
  height: 50px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}
